# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig
# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode


# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

MyDrone/.vs/
MyDrone/*.blob
MyDrone/.vsconfig
MyDrone/Assembly-CSharp.csproj
MyDrone/Assets/Drone.meta
MyDrone/Assets/Drone/
MyDrone/Assets/Scenes.meta
MyDrone/Assets/Scenes/
MyDrone/Assets/Scripts.meta
MyDrone/Assets/TextMesh Pro.meta
MyDrone/Assets/TextMesh Pro/
MyDrone/Assets/Textures.meta
MyDrone/Assets/Textures/
MyDrone/Library/
MyDrone/Logs/
MyDrone/MyDrone.sln
MyDrone/Packages/
MyDrone/ProjectSettings/
MyDrone/UserSettings/
MyDrone/obj/
MyDrone/Temp/
eeprom.bin
logs/
Build/
JSON/
mav.parm
mav.tlog
mav.tlog.raw
terrain/
timeR.txt

